{{>header}}
<main>
    <h1>Persoonsgegevens toevoegen</h1>
    {{#loaerror}}
    <div class="error"> 
        <h1>Er is iets fout gegaan</h1>
        <p class="lead">Je bent ingelogt met DigiD inlog niveau laag. Log opnieuw in bij DigiD in met niveau midden, substantieel of hoog.</p>
    </div>
    {{/loaerror}}

    <div class="error">
        <h1>Het is nu niet mogelijk uw gegevens op te halen</h1>
        <p class="lead">Er zijn problemen met de gegevenskoppeling. We zijn er mee bezig.</p>
    </div>

    <p>Log in via DigiD om je persoonsgegevens en adres aan Yivi toe te voegen.</p>
    <a href="{{{authUrl}}}" class="digid button">Voeg gegevens toe</a>
    <p>Je gegevens worden opgehaald via de gemeente Nijmegen, ook als je daar niet woont. Je logt daarom in via DigiD bij de gemeente Nijmegen.</p>
</main>
{{>footer}}